In [1]:
#calcule
import pandas as pd
import numpy as np
#visualisation
import seaborn as sns
import matplotlib.pyplot as plt
#nettoyage
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
#Evaluation

#prediction
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
house_data= pd.read_csv("C:/Users/ranus/OneDrive/Bureau/house-price/house-prices-advanced-regression-techniques/train.csv")
data_test= pd.read_csv("C:/Users/ranus/OneDrive/Bureau/house-price/house-prices-advanced-regression-techniques/test.csv")

data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [2]:
house_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [30]:
######### Classe qui va remplacer les valeurs manquantes
class Traitement: 

    def __init__(self, data):
        self.data=data
        #self.data_num=data.select_dtypes(exclude=["object"])
        #self.data_cat=data.select_dtypes(exclude['int64','float64'])

    def traitement_na(self, data):
        category_features=[""]
        for cols in data.columns:
            if data[cols].dtype=="object":
                category_features.append(cols)
                data[cols]=data[cols].astype('category').cat.codes
                if data[cols].isnull().sum()!=0:
                    data[cols]=data[cols].fillna(data[cols].mode(),inplace=True)
            if data[cols].dtype=="int64":
                if data[cols].isnull().sum()!=0:
                    data[cols]=data[cols].fillna(data[cols].mean(),inplace=True)
        self.clean_data=data
        return clean_data
    
    def separation(self,clean_data):
        self.data_num=clean_data.select_dtypes(exclude=["object"])
        self.data_cat=clean_data.select_dtypes(exclude['int64','float64'])

t=Traitement_
Traitement(house_data).traitement_na
Traitement(house_data)

TypeError: Traitement() takes no arguments

In [ ]:
#eliminons les variables avec une faible variance
def drop_variable(data):
    data_num=data.select_dtypes(exclude="object")
    return data_num
drop_variable(house_data)

In [ ]:
target='SalePrice'
corr_data=house_data.corr()
corr_data[target]

In [ ]:
#data_train.isnull().sum() #compte les valeurs manquante
#sns.heatmap(data_train.isnull())

In [ ]:
#data_train['Alley'].hist()

In [ ]:
#data_train.plot(x='YearRemodAdd',y='SalePrice',kind='scatter',alpha=0.1,s=data_train['LowQualFinSF']/5,c="SalePrice",cmap=plt.get_cmap("jet"))
#plot avec tranparence à 0.1, size par rapport à lowqualfi diviser par 5, et colorer par rapport a saleprice avec la coulet jet issu de pyplot

In [ ]:
#data_cor=data_train.corr()
#target=data_cor['SalePrice']
#cor_var=['OverallQual','TotalBsmtSF','1stFlrSF','GarageCars','FullBath','GarageArea']
#data_cor_train=data_train[cor_var]
#data_cor_test=data_test[cor_var]

In [ ]:
#data_cor_train.isnull().sum()
#data_cor_train.hist()

In [ ]:
#data_cor_train=pd.concat([data_cor_train,data_train['SalePrice']],axis=1)

In [ ]:
#data_cor_train

In [ ]:
#house_data.isna().sum()

In [ ]:
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import cross_validate
#from sklearn.pipeline import make_pipeline
#from sklearn.preprocessing import StandardScaler
#linear=make_pipeline(StandardScaler(),LinearRegression())

In [ ]:
#-------------------fill na values---------------------------
#for features in house_data.columns:
 #   if house_data[features].dtype=='object':
  #      house_data[features]=house_data[features].astype('category').cat.codes
   #     if house_data[features].isna().sum()!=0:
    #        house_data[features].fillna(house_data[features].mode(),inplace=True)
    #else:
     #   if house_data[features].isna().sum()!=0:
      #      house_data[features].fillna(house_data[features].mean(),inplace=True)
            


#---------------------------------------------------------------------
#house_data